<div class="toolbar clearfix">
  <p class="pull-right"><%= @users.count %> users</p>
</div>
<table class="table table-striped">
  <tr>
    <th>Name</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user %></td>
  </tr>
  <% end %>
</table>