.center {
	text-align:center;
}

.navbar p {
	padding: 9px 10px 11px;
	margin:0;
}

ul.grid {
	list-style:none;
	margin:0;
}

.row-fluid [class*="span"] .grid li {
	display:block;
	float:left;
	margin-left:0;
	margin-right:2.5641%;
}

ul.tweets {
	list-style: none;
	margin:10px 0 10px 0;
}