<h1>Explore the buzz around your favourite places</h1>
<%= twitter_bootstrap_form_for @place, :url => { :action => "search", :controller => "places" }, :html => { :class => "form-search" } do |f| %>
	<%= search_field(:place, :name) %>
	<%= f.submit "Search" %>
<% end %>